/* ====== RESET CSS ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====== STYLES DE BASE ====== */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecee;
    color: #333;
    line-height: 1.6;
}

h2 {
    color: #022c5c;
    margin-bottom: 10px;
}

/* ====== HEADER ====== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #022c5c;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 3px;
}

/* Navigation */
nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav a {
    display: block;
    padding: 10px;
    border: 2px solid #0052b3;
    border-radius: 3px;
    background-color: #0052b3;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a:hover {
    background-color: #022550;
}

/* ====== TYPE AFFICHAGE ====== */
#type-affichage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    padding: 10px 80px;
}

/* ====== MAIN ====== */
main {
    padding: 20px;
}

/* ====== TABLEAU ====== */
#zone-apprenants {
    width: fit-content;
    background-color: white;
    border: 2px solid #0052b3;
    border-radius: 3px;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th {
    padding: 5px;
    background-color: #0052b3;
    color: white;
}

td {
    padding: 10px;
}

th:not(:last-child),
td:not(:last-child) {
    border-right: 2px solid #999ca0;
}

tbody tr:nth-child(even) {
    background-color: #b8d8ff;
}

/* Boutons Détail */
button {
    background: none;
    border: none;
    padding: 0;
    color: #022c5c;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

button:hover {
    color: #0052b3;
}

/* ====== FOOTER ====== */
footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #022c5c;
    color: white;
    text-align: center;
    font-size: 13px;
}

/* ====== THEME SOMBRE ====== */
/* (À venir) */

/* ====== MEDIA QUERIES ======*/
/* Responsive mobile */
@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    nav a {
        text-align: center;
        max-width: 300px;
    }

    #type-affichage {
        justify-content: center;
        padding: 10px 20px;
        
    }

    #zone-apprenants{
        width: 100%;
    }

    table {
        width: 100%;
    }
}

/* Responsive tablette */
@media (min-width: 768px) and (max-width: 1023px) {
    
    #zone-apprenants {
        width: 100%;
    }
    
    table {
        width: 100%;
    }
    
}